$body-text: black;
$body-background: white;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $body-background;
    color: $body-text;
    border: none;
} 